<%-include('./partials/header') %> 



    <h2><%=user.fullName%> Here is your Top Myth!</h2>    
    <div class="img-box">
        <img src="<%=user.pic%>" alt="">
    </div>
    <h1 class="secret">The World is not Ready to know that
        2+2=4 🤣😂
    </h1>
    <a href="/logout" class="btn google-btn">Log Out</a>
<%-include('./partials/footer') %> 
